.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10; /* Garantir que o header fique sobre outros conteúdos */
}

.header-left .logo {
  width: 150px; /* Ajuste o tamanho da logo conforme necessário */
  height: auto;
}

.header-right {
  display: flex;
  align-items: center;
}

.score {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.progress-bar {
  width: 100px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #00a986;
}
